/* ----------------------------------------- */
/* Reset i podstawowe style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow-y: overlay;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

/* ----------------------------------------- */
/* Baner */
#baner {
  width: 100vw;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background: #171616;
  color: white;
  font-size: 30px;
  font-family: 'Bebas Neue', sans-serif;
  text-align: center;
  margin-bottom: 0;
  flex-shrink: 0;
}

/* ----------------------------------------- */
/* Nawigacja */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

nav ul li {
  display: flex;
  justify-content: center;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-button {
  width: 10vw;
  min-width: 150px;
  padding: 15px 30px;
  background: rgba(49, 42, 42, 0.7);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  color: white;
  font-size: 1vw;
  text-align: center;
  border-radius: 20px;
  display: inline-block;
  transition: box-shadow 0.3s ease-in-out;
}

.nav-button:hover {
  background: rgba(49, 42, 42, 0.9);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

/* ----------------------------------------- */
/* Logo (desktop) */
#logo {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #312A2A;
  border-radius: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#logo img {
    max-width: 110%;
    max-width: 200px;
    height: auto;
    width: auto;
    border-radius: 20px;
}

.nav-button-logo {
  transition: box-shadow 0.3s ease-in-out;
}

.nav-button-logo:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

#logo:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

/* Logo (mobilne i tabletowe) */
#logo_sb {
  display: none;
  margin-left: 10px;
  margin-right: auto;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#logo_sb img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}

#logo_sb:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

/* ----------------------------------------- */
/* Główna zawartość */
#main {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  background-color: #292727;
}

.blok {
  width: 75%;
  height: 75vh;
  margin: 50px;
  padding: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #171616 0%, #2A2525 100%);
  color: white;
  font-size: 35px;
  text-align: center;
  border-radius: 40px;
  position: relative;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.blok h2 {
  font-family: 'Bebas Neue', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.blok-inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 150px;
}

.blok-text {
  flex: 1;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.blok-image {
  display: none;
  width: 650px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
}

.blok:hover {
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.5);
}

/* Styl dla przycisku CTA */
.cta-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 24px;
  background: linear-gradient(135deg, #960303 0%, #690303 100%);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  color: white;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cta-button:hover {
    box-shadow: 0 0px 20px rgba(150, 3, 3, 0.5);
    transform: scale(1.01);
}

/* ----------------------------------------- */
/* Stopka */
#stopka {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #171616;
  color: white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  margin-top: 0;
  flex-shrink: 0;
}

/* ----------------------------------------- */
/* Menu boczne (hamburger) */
#hamburger {
  display: none;
  font-size: 40px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#hamburger:hover {
  transform: scale(1.1);
}

#sideMenu {
  position: fixed;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  padding: 50px 20px;
  background: linear-gradient(135deg, #171616 0%, #2A2525 100%);
  color: white;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
}

#sideMenu.show {
  right: 0;
}

#closeMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#closeMenu:hover {
  transform: rotate(90deg);
}

#sideMenu ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}

#sideMenu ul li {
  margin: 20px 0;
}

#sideMenu ul li a {
  color: white;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  text-decoration: none;
  display: block;
  padding: 10px 15px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

#sideMenu ul li a:hover {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.submenu-parent {
  position: relative !important;
  margin-bottom: 5px !important;
}

/* Symbol +/- */
.toggle-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 35px;
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  cursor: pointer;
}

/* Podmenu */
.submenu-parent {
  position: relative;
}

.submenu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  margin: 0;
  padding: 0;
  display: none;
  opacity: 0;
}

.submenu.show {
  max-height: 100%;
  display: block;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 8px 8px !important;
  border-radius: 10px;
  margin-top: 0px !important;
}

.submenu li {
  margin: 8px 0 !important;
}

.submenu li:first-child {
  margin-top: 0 !important;
}

.submenu li:last-child {
  margin-bottom: 0 !important;
}

.submenu li a {
  font-size: 16px !important;
  font-family: 'Roboto', sans-serif;
  background: rgba(255, 255, 255, 0.05) !important;
  padding: 8px 12px !important;
  padding-left: 12px;
  border-radius: 10px;
  width: 100%;
  display: block;
}

.submenu li a:hover {
  transform: translateX(5px);
}

/* ----------------------------------------- */
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #960303;
  border-radius: 5px;
  transition: background 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30303;
}

/* ----------------------------------------- */
/* 📱 MOBILE (≤ 767px) */
@media (max-width: 767px) {
  #baner {
    height: 10vh;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
  }

  #logo_sb {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  #logo_sb img {
    width: auto;
    max-width: 60px;
    min-width: 40px;
    height: auto;
    max-height: 8vh;
    border-radius: 20px;
  }

  nav ul {
    display: none;
  }

  #hamburger {
    display: block;
    font-size: 40px;
    margin-right: 10px;
  }

  .blok {
    width: 90%;
    padding: 20px;
    font-size: 16px;
  }

  .blok h2 {
    font-family: 'Bebas Neue', sans-serif;
  }

  .blok-text {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 100%;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
  }

  #stopka {
    height: 14vh;
    font-size: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #blok1 {
    background-image: url('Pictures/blok1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok2 {
    background-image: url('Pictures/blok2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok3 {
    background-image: url('Pictures/blok3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok4 {
    background-image: url('Pictures/blok4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok5 {
    background-image: url('Pictures/blok5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* ----------------------------------------- */
/* 📱 TABLET (768px – 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
  #baner {
    height: 10vh;
    padding: 0 5px;
    justify-content: space-between;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
  }

  #logo_sb {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
    list-style: none;
    text-decoration: none;
    color: inherit;
    outline: none;
  }

  #logo_sb img {
    width: auto;
    max-width: 90px;
    min-width: 50px;
    height: auto;
    max-height: 8vh;
    border-radius: 20px;
  }

  .blok {
    width: 85%;
    padding: 60px;
    font-size: 25px;
  }

  .blok h2 {
    font-family: 'Bebas Neue', sans-serif;
  }

  .blok-text {
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.6);
  }

  nav ul {
    display: none;
  }

  #hamburger {
    display: block;
    font-size: 40px;
    margin-right: 10px;
  }

  #stopka {
    height: 14vh;
    font-size: 16px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  #blok1 {
    background-image: url('Pictures/blok1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok2 {
    background-image: url('Pictures/blok2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok3 {
    background-image: url('Pictures/blok3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok4 {
    background-image: url('Pictures/blok4.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  #blok5 {
    background-image: url('Pictures/blok5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

/* ----------------------------------------- */
/* 💻 DESKTOP (≥ 1024px) */
@media (min-width: 1024px) {
  #baner {
    min-height: 130px;
    font-family: 'Roboto', sans-serif;
  }

  .blok {
    height: auto;
    padding: 120px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    display: flex;
  }

  .blok h2 {
    font-size: 2vw;
    font-family: 'Bebas Neue', sans-serif;
  }

  .blok p {
    font-size: 1vw;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
  }

  .blok-image {
    display: block;
    width: 50%;
    max-width: 650px;
    height: auto;
    object-fit: contain;
  }

  nav ul {
    display: flex;
    justify-content: space-around;
    padding: 0;
    gap: 5vw;
  }

  nav ul li a {
    padding: 15px 30px;
    font-size: 30px;
  }

  #logo_sb {
    display: none;
  }

  .blok1, .blok2, .blok3, .blok4, .blok5 {
    background-image: none;
  }
}