/* --------------------------------------- */
/* Reset stylów */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100%;
    min-height: 100vh;
    overflow-y: overlay;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

/* --------------------------------------- */
/* Baner */
#baner {
    width: 100vw;
    height: 10vh;
    position: sticky !important;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    background: #171616;
    color: white;
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
    text-align: center;
    margin-bottom: 0;
    flex-shrink: 0;
}

/* --------------------------------------- */
/* Nawigacja */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
}
  
nav ul li {
    display: flex;
    justify-content: center;
}
  
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
  
.nav-button {
    width: 10vw;
    min-width: 150px;
    padding: 15px 30px;
    background: rgba(49, 42, 42, 0.7);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 1vw;
    text-align: center;
    border-radius: 20px;
    display: inline-block;
    transition: box-shadow 0.3s ease-in-out;
}
  
.nav-button:hover {
    background: rgba(49, 42, 42, 0.9);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

/* --------------------------------------- */
/* Logo */
#logo {
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #312A2A;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
#logo img {
      max-width: 110%;
      max-width: 200px;
      height: auto;
      width: auto;
      border-radius: 20px;
}
  
.nav-button-logo {
    transition: box-shadow 0.3s ease-in-out;
}
  
.nav-button-logo:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
  
#logo:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}
  
/* Logo (mobilne i tabletowe) */
#logo_sb {
    display: none;
    margin-left: 10px;
    margin-right: auto;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
#logo_sb img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}
  
#logo_sb:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

/* --------------------------------------- */
/* Kontener główny */
#container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    gap: 20px;
    width: 80%;
    flex-grow: 1;
}

#main {
    background-color: #292727;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding: 50px 20%;
    gap: 40px;
    flex-grow: 1;
}

/* --------------------------------------- */
/* Stopka */
#stopka {
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171616;
    color: white;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-top: 0;
    flex-shrink: 0;
}

/* --------------------------------------- */
/* Przycisk sortowania */
#sortowanie {
    background-color: #171616;
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    width: fit-content;
}

/* --------------------------------------- */
/* Menu boczne */
#hamburger {
    display: none;
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
#hamburger:hover {
    transform: scale(1.1);
}
  
#sideMenu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100%;
    padding: 50px 20px;
    background: linear-gradient(135deg, #171616 0%, #2A2525 100%);
    color: white;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.5);
}
  
#sideMenu.show {
    right: 0;
}
  
#closeMenu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease;
}
  
#closeMenu:hover {
    transform: rotate(90deg);
}
  
#sideMenu ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}
  
#sideMenu ul li {
    margin: 20px 0;
}
  
#sideMenu ul li a {
    color: white;
    font-size: 20px;
    font-family: 'Bebas Neue', sans-serif;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
  
#sideMenu ul li a:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
  
.submenu-parent {
    position: relative !important;
    margin-bottom: 5px !important;
}
  
/* Symbol +/- */
.toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    font-family: 'Bebas Neue', sans-serif;
    color: white;
    cursor: pointer;
}
  
/* Podmenu */
.submenu-parent {
    position: relative;
}
  
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
    margin: 0;
    padding: 0;
    display: none;
    opacity: 0;
}
  
.submenu.show {
    max-height: 100%;
    display: block;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px 8px !important;
    border-radius: 10px;
    margin-top: 0px !important;
}
  
.submenu li {
    margin: 8px 0 !important;
}
  
.submenu li:first-child {
    margin-top: 0 !important;
}
  
.submenu li:last-child {
    margin-bottom: 0 !important;
}
  
.submenu li a {
    font-size: 16px !important;
    font-family: 'Roboto', sans-serif;
    background: rgba(255, 255, 255, 0.05) !important;
    padding: 8px 12px !important;
    padding-left: 12px;
    border-radius: 10px;
    width: 100%;
    display: block;
}
  
.submenu li a:hover {
    transform: translateX(5px);
}

/* --------------------------------------- */
/* Filtry */
#filters {
    background-color: #171616;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    color: white;
    padding: 20px;
    border-radius: 15px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#filters label {
    font-weight: 500;
    margin-top: 10px;
}

#filters select {
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background-color: #312A2A;
    color: white;
}

/* --------------------------------------- */
/* Przepisy */
.recipe-container {
    width: 100%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recipe-card {
    background-color: #171616;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.recipe-card h3 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 24px;
    margin-bottom: 5px;
}

.recipe-card p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.przepis {
    background-color: #1c1c1c;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 1400px;
    padding: 15px;
    text-align: center;
    border-radius: 15px;
    color: white;
    margin: 20px auto;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.przepis:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transform: scale(1.01);
}

.blok1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.blok1 h3 {
    font-family: 'Bebas Neue', sans-serif;
}

.blok1 p {
    font-family: 'Bebas Neue', sans-serif;
}

.przepis-tresc {
    flex: 1;
}

.przepis-obraz {
    flex-shrink: 0;
    margin-left: 20px;
}

.przepis-obraz img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
}

.details-button {
    background: linear-gradient(135deg, #960303 0%, #690303 100%);
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 8px 12px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.details-button:hover {
    box-shadow: 0 0px 20px rgba(150, 3, 3, 0.5);
    transform: scale(1.01);
}

.blok2 .recipe-details {
    padding: 0 10px;
    background: linear-gradient(135deg, #312A2A 0%, #1c1c1c 100%);
    color: #fff;
    border-radius: 20px;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out, opacity 0.4s ease-out, padding 0.4s ease-out;
}

.blok2 .recipe-details.visible {
    height: auto;
    max-height: none;
    min-height: 100px;
    opacity: 1;
    padding: 15px;
    transform: translateY(0);
}

.blok2 .recipe-details:not(.visible) {
    transform: translateY(20px);
}

.details-container {
    display: flex;
    justify-content: space-between;
}

.skladniki, .przygotowanie {
    width: 48%;
}

.skladniki h4,
.przygotowanie h4 {
    color: #ff4d4d;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 22px;
    letter-spacing: 1px;
    margin-bottom: 15px;
    margin-top: 0;
    position: relative;
    text-align: left;
}

.skladniki h4::after,
.przygotowanie h4::after {
    background: linear-gradient(to right, #ff4d4d, transparent);
    bottom: -4px;
    content: '';
    height: 2px;
    left: 0;
    position: absolute;
    width: 30px;
}

.skladniki ul, .przygotowanie ol {
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    padding-left: 20px;
    text-align: left;
}

.skladniki ul li.special-ingredient {
    color: #ff4d4d;
    list-style: none;
    padding-left: 0;
    font-weight: bold;
}

/* --------------------------------------- */
/* Paginacja */

#pagination {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
    margin-top: 25px;
}

.pagination-button {
    background: linear-gradient(135deg, #960303 0%, #690303 100%);
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pagination-button:hover {
    box-shadow: 0 6px 15px rgba(150, 3, 3, 0.5);
    transform: scale(1.1);
}

.pagination-button.active {
    background: linear-gradient(135deg, #ff4d4d 0%, #960303 100%);
    box-shadow: 0 4px 10px rgba(150, 3, 3, 0.5);
}

.page-button {
    background: linear-gradient(135deg, #312A2A 0%, #1c1c 100%);
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding: 10px 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.page-button.active {
    background: linear-gradient(135deg, #ff4d4d 0%, #960303 100%);
    box-shadow: 0 4px 10px rgba(150, 3, 3, 0.5);
}

.page-button:hover {
    box-shadow: 0 6px 15px rgba(150, 3, 3, 0.5);
    transform: scale(1.1);
}

/* --------------------------------------- */
/* Suwak przewijania */
::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #000000;
}
  
::-webkit-scrollbar-thumb {
    background: #960303;
    border-radius: 5px;
    transition: background 0.3s ease;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #b30303; /* Jaśniejszy odcień czerwonego */
}

/* ------------------------- */
/* 📱 MOBILE (≤ 767px) */
@media (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    #baner {
        height: 10vh;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    #baner {
        height: 10vh;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;
    }

    #container {
        width: 100%;
        padding: 20px;
        flex-grow: 1;
    }

    #hamburger {
        display: block;
        font-size: 40px;
        margin-right: 10px;
    }

    #logo_sb {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: auto;
        text-align: left;
        list-style: none;
        text-decoration: none;
        color: inherit;
        outline: none;
    }

    #logo_sb img {
        width: auto;
        max-width: 60px;
        min-width: 40px;
        height: auto;
        max-height: 8vh;
        border-radius: 20px;
    }

    #main {
        flex-direction: column;
        gap: 30px;
        padding: 40px 20px;
        flex-grow: 1;
    }

    nav ul {
        display: none;
    }

    #sortowanie {
        font-size: 16px;
        padding: 10px 20px;
    }
    
    #stopka {
        height: 16vh;
        min-height: 14vh;
        font-size: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .blok1 {
        flex-direction: column;
        align-items: flex-start;
    }
    
    .przepis {
        overflow: hidden;
    }

    .przepis-obraz {
        margin-left: 0;
        width: 100%;
    }

    .przepis-obraz img {
        width: 70%;
        height: auto;
        margin: 10px 0;
    }

    .przepis-tresc {
        width: 100%;
        font-size: 1.1rem;
        line-height: 1.3;
    }

    .recipe-container {
        display: flex;
        flex-direction: column;
        gap: 20px;
    } 

    /*Układ Składników i Przygotowań w pionie*/
    .details-container {
        flex-direction: column;
        gap: 20px;
    }

    .skladniki,
    .przygotowanie {
        width: 100%;
    }

    .skladniki h4,
    .przygotowanie h4 {
        font-size: 20px;
    }

    .skladniki ul,
    .przygotowanie ol {
        font-size: 15px;
        line-height: 1.7;
        padding-left: 20px;
    }
}

/* ------------------------- */
/* 📲 TABLET (768px – 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
    #baner {
        height: 10vh;
        padding: 0 5px;
        justify-content: space-between;
        align-items: center;
        font-family: 'Bebas Neue', sans-serif;
    }

    #container {
        width: 100%;
        padding: 30px;
        flex-grow: 1;
    }

    #hamburger {
        display: block;
        font-size: 40px;
        margin-right: 10px;
    }

    #logo_sb {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-right: auto;
        text-align: left;
        list-style: none;
        text-decoration: none;
        color: inherit;
        outline: none;
    }

    #logo_sb img {
        width: auto;
        max-width: 90px;
        min-width: 50px;
        height: auto;
        max-height: 8vh;
        border-radius: 20px;
    }

    #main {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 40px;
        padding: 60px 40px;
        flex-grow: 1;
    }

    nav ul {
        display: none;
    }

    #sortowanie {
        font-size: 17px;
        padding: 12px 25px;
    }  

    .przepis {
        overflow: hidden;
    }

    .przepis-obraz {
        flex-shrink: 0;
        margin-left: 20px;
        width: 40%;
    }
    
    .przepis-obraz img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        object-fit: cover;
    }

    .przepis-tresc {
        width: 100%;
        font-size: 1.3rem;
        line-height: 1.4;
    }

    .recipe-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    #stopka {
        height: 16vh;
        min-height: 14vh;
        font-size: 16px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

/* ------------------------- */
/* 💻 DESKTOP (≥ 1024px) */
@media (min-width: 1024px) {
    #baner {
        min-height: 130px;
        font-family: 'Roboto', sans-serif;
    }

    #logo_sb {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
        padding: 0;
        gap: 5vw;
    }
    
    nav ul li a {
        padding: 15px 30px;
        font-size: clamp(30px, 3vw, 34px);
    }

    .przepis {
        overflow: hidden;
    }

    .przepis-obraz {
        flex-shrink: 0;
        margin-left: 20px;
        width: 30%;
    }
    
    .przepis-obraz img {
        width: 100%;
        height: auto;
        border-radius: 20px;
        object-fit: cover;
    }

    .przepis-tresc {
        width: 100%;
        font-size: 1.7rem;
        line-height: 1.4;
    }

    .recipe-card {
        display: table-row;
        background-color: transparent;
        padding: 0;
        border-radius: 0;
    }

    .recipe-card > * {
        display: table-cell;
        padding: 15px;
        background-color: #171616;
        border: 1px solid #312A2A;
    }

    .recipe-container {
        display: table;
        width: 100%;
        border-collapse: collapse;
    }

    .recipe-header {
        display: table-row;
        font-weight: bold;
        background-color: #312A2A;
        color: white;
    }

    .recipe-header > * {
        display: table-cell;
        padding: 15px;
        border: 1px solid #312A2A;
    }    
}
